:root{
    --primary-color:#ffff;
    --color: rgb(224, 155, 155);
}

body{
    background-color:var(--primary-color);
    
}

.heading{
    
    color:var(--color);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.op  button{
    width: 25px;
    height: 50px;

}

#in{

    width: 400px;
    height: 100px;
    font-size: 30px;
}

#nbut{
    width: 50px;
    height: 50px;


}

